[paths]
source =
   src
   */site-packages

[run]
branch = true
source =
    sample_pylibrary
    tests
parallel = true
plugins = Cython.Coverage

[report]
show_missing = true
precision = 2
omit = *migrations*
